.form-container{
  background: #e1e1e1;
  padding: 20px;
}
.content-container{
  padding: 20px;
}
.col-xs-12.col-md-9{
  border-left: 1px solid #d9d9d9;
   height:100vh;
}
.btn-add-user{
  cursor: pointer;
}
.card{
  margin-bottom: 20px;
  height: 180px;
}
.card-text{
  color: #00bcd4;
  margin-bottom: 0;
}
#error{
  display: none;
}
.card-delete{
  position: absolute;
  right: 10px;
  top: 6px;
  line-height: 9px;
  padding: 8px;
  font-size: 17px;
  color: #f44336;
  cursor: pointer;
}